<form ng-submit="search()" class="form-inline">
    <button type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-globe" ng-click="geolocation()" aria-hidden="true"></span>
    </button>
    <div class="form-group">
        <label class="sr-only" for="place">Ou</label>
        <input id="place" places-auto-complete types="['geocode']"  ng-model="where" placeholder="Où ?" class="form-control"
               required/>
    </div>
    <div class="form-group">
        <label class="sr-only" for="time">Quand</label>
        <input type="time" id="time" ng-model="when" class="form-control"/>
    </div>
    <button type="submit" class="btn btn-default">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    </button>
</form>
