<form ng-submit="search()" class="form-inline">
    <div class="form-group">
        <label class="sr-only" for="place">Ou</label>
        <input type="text" id="place" g-places-autocomplete force-selection="true" ng-model="where" placeholder="Où ?" class="form-control"
               required/>
    </div>
    <div class="form-group">
        <label class="sr-only" for="time">Quand</label>
        <input type="time" id="time" ng-model="when" class="form-control"/>
    </div>
    <button type="submit" class="btn btn-default">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    </button>
</form>
